@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

.navbar {
  background-color: rgba(255, 255, 255, 0.637);
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  transform: translate(0px, -90%);
  transition: all 0.6s ease 0s; }
  .navbar .nav-item {
    display: flex;
    padding-left: 80px; }
    .navbar .nav-item .nav-link {
      display: flex;
      align-items: center; }
    .navbar .nav-item a {
      font-size: calc(14px + 6 * ((100vw - 320px) / 1920)); }
  .navbar .but {
    display: flex;
    height: 50px;
    width: 350px;
    margin-left: 250px;
    justify-content: end; }
  .navbar .btn-su {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 20px;
    padding: 5px 40px;
    box-shadow: none; }
  .navbar .bt {
    background-color: black;
    color: white; }

.navbar._active {
  transform: translate(0px, 0px); }

.container {
  max-width: 90%; }
  .container header {
    margin-top: 100px;
    align-items: center; }
    .container header .header-text h1 {
      font-family: 'Oswald';
      font-weight: 400;
      font-size: calc(30px + 80 * ((100vw - 320px) / 1920));
      margin-bottom: 50px; }
    .container header .header-text h5 {
      font-size: calc(14px + 10 * ((100vw - 320px) / 1920));
      width: 700px; }
    .container header .button-header {
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease 0s;
      background-color: black;
      color: white;
      margin-top: 30px;
      width: 180px;
      height: 55px;
      border-radius: 10px;
      border: 2px solid black;
      padding: 5px 40px;
      box-shadow: none; }
    .container header .button-header._active {
      transform: translate(0px, 0px);
      opacity: 1;
      transition: all 0.8s ease 0.8s; }
    .container header .bh {
      margin-left: 20px;
      background-color: white;
      color: black; }
    .container header .carousel {
      margin-left: 118px;
      margin-top: 5%;
      border-radius: 15px;
      height: 650px;
      width: 86%; }
    .container header .carousel-cell {
      width: 56%;
      height: 600px;
      margin-right: 10px;
      border-radius: 15px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center; }
    .container header .carousel-cell:before {
      display: block;
      content: ''; }
    .container header .car {
      transform: translate(100%, 0px);
      transition: all 0.5s ease 0s; }
    .container header .car._active {
      transform: translate(0px, 0px); }
  .container .text__titlego {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s; }
  .container .text__titlego._active {
    transform: translate(0px, 0px);
    opacity: 1; }
  .container .text_title {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s; }
  .container .text_title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s; }
  .container .text_titlemin {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s; }
  .container .text_titlemin._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s; }
  .container section {
    margin-top: 100px; }
    .container section .bigfoto {
      text-align: center;
      width: 100%; }
    .container section .infobf .info {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .container section .infobf .info .krug {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        width: 170px;
        border-radius: 50px; }
        .container section .infobf .info .krug img {
          width: 110px;
          height: 110px; }
      .container section .infobf .info .txtinfo {
        width: 350px;
        font-weight: 400; }
        .container section .infobf .info .txtinfo h4 {
          font-weight: 500; }
        .container section .infobf .info .txtinfo p {
          margin-top: 40px;
          color: #AFAFB0; }
  .container .com-info {
    align-items: center;
    margin-top: 150px; }
    .container .com-info img {
      width: 810px;
      height: 448px; }
    .container .com-info .com-img {
      transform: translate(-120%, 0px);
      transition: all 0.7s ease 0s; }
    .container .com-info .com-img._active {
      transform: translate(0px, 0px); }
    .container .com-info .com-txt {
      height: 448px; }
      .container .com-info .com-txt h2 {
        margin-top: 80px;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 79px; }
      .container .com-info .com-txt p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 33px;
        width: 750px;
        color: #AFAFB0; }
  .container .zagolovoc {
    margin-top: 80px;
    text-align: center; }
    .container .zagolovoc h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 65px;
      line-height: 79px; }
  .container .conta {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    transform: scale(0);
    transition: all 0.8s ease 0s; }
  .container .conta._active {
    transform: scale(1); }
  .container .sidebar {
    height: 600px;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out; }
  .container .sidebar > div {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .container .sidebar h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
    text-align: center; }
  .container .main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out; }
  .container .main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%; }
  .container .down,
  .container .up {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px; }
    .container .down:hover,
    .container .up:hover {
      color: #222; }
    .container .down:focus,
    .container .up:focus {
      outline: none; }
  .container .conta .controls button {
    position: absolute;
    left: 35.01%;
    top: 47.5%;
    z-index: 100; }
  .container .conta .controls .down {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .container .conta .controls .up {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
  .container .first-fut {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
    display: flex;
    height: 900px;
    justify-content: center; }
    .container .first-fut .zag {
      width: 80%; }
      .container .first-fut .zag h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 82px;
        text-align: center; }
      .container .first-fut .zag p {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 32px;
        text-align: center; }
    .container .first-fut .fut-info {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .container .first-fut .fut-info .info-fut {
        width: 350px; }
        .container .first-fut .fut-info .info-fut .fut-txtinfo h4 {
          font-size: 43px;
          line-height: 50px; }
        .container .first-fut .fut-info .info-fut .fut-txtinfo p {
          font-size: 23px;
          line-height: 27px; }
    .container .first-fut .fut-button .button-fut {
      background-color: black;
      color: white;
      margin-top: 30px;
      width: 180px;
      height: 55px;
      border-radius: 10px;
      border: 2px solid black;
      padding: 5px 40px;
      box-shadow: none; }
    .container .first-fut .fut-button .bt {
      margin-left: 20px;
      background-color: black;
      color: white; }

footer {
  background-color: white;
  height: 300px; }

::-webkit-scrollbar {
  width: 14px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.616); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.336); }

/*# sourceMappingURL=main.css.map */
